:root {
  --primer: rgba(53, 90, 229, 1);
  --headline-l-font-family: "Pretendard", Helvetica;
  --headline-l-font-weight: 700;
  --headline-l-font-size: 64px;
  --headline-l-letter-spacing: 0px;
  --headline-l-line-height: 125%;
  --headline-l-font-style: normal;
  --headline-m-font-family: "Pretendard", Helvetica;
  --headline-m-font-weight: 700;
  --headline-m-font-size: 56px;
  --headline-m-letter-spacing: 0px;
  --headline-m-line-height: 125%;
  --headline-m-font-style: normal;
  --headline-s-font-family: "Pretendard", Helvetica;
  --headline-s-font-weight: 700;
  --headline-s-font-size: 48px;
  --headline-s-letter-spacing: 0px;
  --headline-s-line-height: 125%;
  --headline-s-font-style: normal;
  --title-l-font-family: "Pretendard", Helvetica;
  --title-l-font-weight: 700;
  --title-l-font-size: 36px;
  --title-l-letter-spacing: 0px;
  --title-l-line-height: 125%;
  --title-l-font-style: normal;
  --title-m-font-family: "Pretendard", Helvetica;
  --title-m-font-weight: 600;
  --title-m-font-size: 24px;
  --title-m-letter-spacing: 0px;
  --title-m-line-height: 125%;
  --title-m-font-style: normal;
  --title-s-font-family: "Pretendard", Helvetica;
  --title-s-font-weight: 600;
  --title-s-font-size: 20px;
  --title-s-letter-spacing: 0px;
  --title-s-line-height: 125%;
  --title-s-font-style: normal;
  --label-l-font-family: "Pretendard", Helvetica;
  --label-l-font-weight: 600;
  --label-l-font-size: 18px;
  --label-l-letter-spacing: 0px;
  --label-l-line-height: 24px;
  --label-l-font-style: normal;
  --label-m-font-family: "Pretendard", Helvetica;
  --label-m-font-weight: 600;
  --label-m-font-size: 16px;
  --label-m-letter-spacing: 0px;
  --label-m-line-height: 20px;
  --label-m-font-style: normal;
  --label-s-font-family: "Pretendard", Helvetica;
  --label-s-font-weight: 600;
  --label-s-font-size: 14px;
  --label-s-letter-spacing: 0px;
  --label-s-line-height: 20px;
  --label-s-font-style: normal;
  --body-l-font-family: "Pretendard", Helvetica;
  --body-l-font-weight: 400;
  --body-l-font-size: 18px;
  --body-l-letter-spacing: 0px;
  --body-l-line-height: 179.99999523162842%;
  --body-l-font-style: normal;
  --body-m-font-family: "Pretendard", Helvetica;
  --body-m-font-weight: 400;
  --body-m-font-size: 16px;
  --body-m-letter-spacing: 0px;
  --body-m-line-height: 179.99999523162842%;
  --body-m-font-style: normal;
  --button-l-font-family: "Pretendard", Helvetica;
  --button-l-font-weight: 700;
  --button-l-font-size: 18px;
  --button-l-letter-spacing: 0px;
  --button-l-line-height: 179.99999523162842%;
  --button-l-font-style: normal;
  --button-m-font-family: "Pretendard", Helvetica;
  --button-m-font-weight: 600;
  --button-m-font-size: 16px;
  --button-m-letter-spacing: 0px;
  --button-m-line-height: 20px;
  --button-m-font-style: normal;
  --button-s-font-family: "Pretendard", Helvetica;
  --button-s-font-weight: 600;
  --button-s-font-size: 14px;
  --button-s-letter-spacing: 0px;
  --button-s-line-height: 16px;
  --button-s-font-style: normal;
  --caption-l-font-family: "Pretendard", Helvetica;
  --caption-l-font-weight: 400;
  --caption-l-font-size: 18px;
  --caption-l-letter-spacing: 0px;
  --caption-l-line-height: 20px;
  --caption-l-font-style: normal;
  --caption-m-font-family: "Pretendard", Helvetica;
  --caption-m-font-weight: 400;
  --caption-m-font-size: 16px;
  --caption-m-letter-spacing: 0px;
  --caption-m-line-height: 20px;
  --caption-m-font-style: normal;
  --caption-s-font-family: "Pretendard", Helvetica;
  --caption-s-font-weight: 400;
  --caption-s-font-size: 14px;
  --caption-s-letter-spacing: 0px;
  --caption-s-line-height: 20px;
  --caption-s-font-style: normal;
}
